extends layout

block content
  h1= title
  p Welcome to #{title}

  ul
    each msg in messages
      li
        p User: #{msg.user}
        p Message: #{msg.text}
        p Date: #{msg.added.toLocaleDateString()} #{msg.added.toLocaleTimeString()}
  a(href="/new") Post a new message
